body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

#board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  width: 250px;
  margin: 20px auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.tile {
  width: 45px;
  height: 45px;
  border: 2px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-transform: uppercase;
  background: #222;
  color: white;
}

.correct {
  background: #3aa394;
}

.present {
  background: #d3ad69;
}

.absent {
  background: #3a3a3c;
}

/* Teclado */
#keyboard {
  width: 330px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key {
  width: 30px;
  height: 40px;
  margin: 4px;
  background: #444;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.key.special {
  width: 60px;
  font-size: 14px;
}
